@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
body{
	margin: 0;
	padding: 0;
background:url("img/bg.jpg");
background-size: cover;
background-origin: center;
}
#navigation{
	position: relative;
	height: 100px;
	width: 100%;
}
.navbar ul{
background: #000;
}
.navbar ul li{
	float: right;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 10px 20px;
	list-style: none;
}
.navbar ul li a{
 list-style-type: none;
 text-decoration: none;
 color: #ffc;
 background: #ffc107;
 padding: 10px 20px;
 font-weight: 800;
}
.freefire{
	margin-top: -20px;
	position: absolute;
}
.heading{
	color:#fff;
	font-family: 'Audiowide', cursive;
	font-size: 50px;
}
#character{
	width:100%;
	height: 100%;
}
.grid{
	display:inline-grid;
	padding: 10px 20px;
}
#character .border{
	height:500px;
	width:300px;
	border:10px #ffc107 solid;
	border-radius: 20px;
}
#character .border .chra{
	position: relative;
	height:435px;
	width:300px;
}
#character .border .chra img{
	position: relative;
	height: 100%;
	width: 100%;
}
#character .border span{
	position: relative;
	display: block;
	font-family: poppins;
	font-weight: 500;
	font-size: 30px;
	color: #ffc107;
	padding: 20px 10px;
}
#character .border:hover{
	background: #ffc107;
}
#character .border:hover span{
	color: #fff;
}